/* overrides */
pre {
  margin: 0;
}

body {
  font-size: 0.8em;
}

/* custom classes */
.header {
  padding-left: 0.65em;
  padding-top: 2em;
}

.header-desc {
  padding-left: 1.5em;
  margin-bottom: 3em;
  font-size: 1em;
}

.grid-sizer,
.grid-item {
  width: 47%;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;

  /* https://stackoverflow.com/a/74977615/647606 */
  container-type: inline-size;
}

.grid-item--width2 {
  width: 80%;
}

.project {
  margin-bottom: 1em;
  padding: 1em;
}

.project-desc {
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  .grid-item {
    border: 1px dashed #ccc;
  }
}

@media (prefers-color-scheme: dark) {
  .grid-item {
    background-color: transparent;
    border: 1px dashed #696969;
  }
}

.project-header {
  margin: 0 0 1em;
  padding-left: 0.55em;
  font-family: monospace;
  font-weight: 100;
  font-size: 1.8em;
  color: #0072ad;
}

@media (prefers-color-scheme: light) {
  .project-header {
    background-color: #f9f9f9;
  }
}

.grid-item:hover {
  border: 1px dashed;
}

@media (prefers-color-scheme: light) {
  .grid-item:hover {
    background: #f9f9f9;
    border-color: #ccc;
  }
}

@media (prefers-color-scheme: dark) {
  .grid-item:hover {
    background: #24283b;
    border-color: #ccc;
  }
}

.project-title {
  margin-bottom: 0;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}

.repo-link {
  font-weight: 200;
  font-size: 1.4em;
}

@media (prefers-color-scheme: light) {
  .repo-link {
    background: #f0f0f0;
  }
}

@media (prefers-color-scheme: dark) {
  .repo-link {
    background-color: #0e0e00;
  }
}

.dotfile-program {
  width: 100px;
  height: 100px;
}

@media (prefers-color-scheme: light) {
  ::selection {
    background: #d6e4ff;
  }
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background: #000;
  }
}

/* fake terminal in css */
.terminal {
  background-color: #1f2335;
  font-family: monospace;
  font-size: 2.6cqw;
  line-height: 5cqw;
}
.terminal pre::selection {
  background: #2e3c64;
}
.terminal .prompt-dir::selection {
  background: #2e3c64;
  color: #c0c9f5;
}
.terminal .prompt-git::selection {
  background: #2e3c64;
  color: #c0c9f5;
}
.terminal .readline::selection {
  background: #2e3c64;
}
.terminal .readline .command::selection {
  background: #2e3c64;
}
.terminal .stdout::selection {
  background: #2e3c64;
}
.terminal .stdout-green::selection {
  background: #2e3c64;
}

.command {
  margin-left: 0.7em;
  font-size: 0.95em;
  color: #7aa2f7;
}

.readline {
  background-color: inherit;
  padding: 2px 4px;
  font-size: 0.9em;
  color: #7dcfff;
}

.prompt-dir {
  background-color: #80acff;
  padding: 2px 10px;
  font-size: 0.9em;
  color: #1e202f;
}

.prompt-git {
  /* background-color: #e0af67; dirty branch */
  background-color: #9ecd6a; /* clean branch */
  font-size: 0.9em;
  color: #1e202f;
  padding: 2px 10px;
}

.stdout {
  background-color: inherit;
  color: #c0caf4;
  padding-left: 4px;
  padding-bottom: 4px;
  text-wrap: nowrap;
  line-height: 1.4em;
}

/* TODO: Add variables for common colors */
.stdout-green {
  color: #9ece6a;
}

.stdout-blue {
  color: #7aa2f7;
}

.small-button {
  font-family: monospace;
  font-size: 0.8em;
  padding: 0.6em;
}

@media (prefers-color-scheme: light) {
  .current-page {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  .current-page {
    background-color: #0e0e00;
  }
}

footer {
  text-align: center;
}
