/* Variables */
/* Overrides */
pre {
  margin: 0;
}

body {
  font-size: 0.8em;
}

/* Custom Classes */
.header {
  padding-left: 0.65em;
  padding-top: 2em;
}

.header-desc {
  padding-left: 1.5em;
  margin-bottom: 3em;
  font-size: 1em;
}

.grid-sizer, .grid-item {
  width: 47%;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  container-type: inline-size;
}
@media (max-width: 520px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .grid-item {
    background: #f9f9f9;
    border-color: #ccc;
    border: 1px dashed #ccc;
  }
}
@media (prefers-color-scheme: dark) {
  .grid-item {
    background-color: #2e3c64;
    border-color: #ccc;
    background-color: transparent;
    border: 1px dashed #696969;
  }
}
.grid-item:hover {
  border: 1px dashed;
}

.grid-item--width2 {
  width: 80%;
}

.project {
  margin-bottom: 1em;
  padding: 1em;
}

.project-desc {
  font-style: italic;
}

.project-header {
  margin: 0 0 1em;
  padding-left: 0.55em;
  font-family: monospace;
  font-weight: 100;
  font-size: 1.8em;
  color: #0072ad;
}
@media (prefers-color-scheme: light) {
  .project-header {
    background-color: #f9f9f9;
  }
}

.project-title {
  margin-bottom: 0;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}

.repo-link {
  font-weight: 200;
  font-size: 1.4em;
}
@media (prefers-color-scheme: light) {
  .repo-link {
    background: #f0f0f0;
  }
}
@media (prefers-color-scheme: dark) {
  .repo-link {
    background-color: #0e0e00;
  }
}

.dotfile-program {
  width: 60px;
  height: 60px;
}

@media (prefers-color-scheme: light) {
  ::selection {
    background: #d6e4ff;
  }
}
@media (prefers-color-scheme: dark) {
  ::selection {
    background: #000;
  }
}
/* Fake terminal in CSS */
.terminal {
  background-color: #1f2335;
  font-family: monospace;
  font-size: 2.6cqw;
  line-height: 5cqw;
}
.terminal pre::selection, .terminal .readline::selection, .terminal .readline .command::selection, .terminal .stdout::selection, .terminal .stdout-green::selection {
  background: #2e3c64;
}
.terminal .prompt-dir::selection, .terminal .prompt-git::selection {
  background: #2e3c64;
  color: #c0c9f5;
}

.command {
  margin-left: 0.7em;
  font-size: 0.95em;
  color: #7aa2f7;
}

.readline {
  background-color: inherit;
  padding: 2px 4px;
  font-size: 0.9em;
  color: #7dcfff;
}

.prompt-dir, .prompt-git {
  padding: 2px 10px;
  font-size: 0.9em;
  color: #1e202f;
}

.prompt-dir {
  background-color: #80acff;
}

.prompt-git {
  background-color: #9ecd6a;
}

.stdout {
  background-color: inherit;
  color: #c0caf4;
  padding-left: 4px;
  padding-bottom: 4px;
  text-wrap: nowrap;
  line-height: 1.4em;
}

.stdout-green {
  color: #9ece6a;
}

.stdout-blue {
  color: #7aa2f7;
}

.small-button {
  font-family: monospace;
  font-size: 0.8em;
  padding: 0.6em;
}

@media (prefers-color-scheme: light) {
  .current-page {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: dark) {
  .current-page {
    background-color: #0e0e00;
  }
}

footer {
  text-align: center;
}

.about {
  width: fit-content;
  text-align: center;
  margin: auto;
  display: none;
}

/*# sourceMappingURL=style.css.map */
